
<div class="topbar">ROTILE application</div>
<div class="container">
	<div class="vote-container">
		<span class="vote-title">Create a new project</span>
		<form class="vote-form" name="voteForm" ng-submit="submit()">
			<div class="vote-form-element">
				<label class="vote-form-title">Your project: </label> <input
					type="text" ng-model="projectView.name" name="input"
					placeholder="You project name" required />
			</div>
			<div class="vote-desc-container vote-form-element">
				<label class="vote-form-title">Description (optional): </label>
				<textarea cols="50" rows="5" placeholder="Project description..."
					ng-model="projectView.description"></textarea>
			</div>
			<input type="submit" id="submit" value="Create" />
		</form>
	</div>

	<div class="vote-container vote-list">
		<span class="vote-title">List of existing projects</span>
		<p>List of projects already created:</p>
		<ul>
			<li ng-repeat="project in projects"><a
				href="#/project/{{project.id}}">{{project.name}}</a></li>
		</ul>
	</div>
</div>
