
	<div class="topbar">Project {{project.name}}</div>
	<div class="container">
		<div class="vote-container">
			<span class="vote-title">Vote for {{project.name}}</span>
			<div class="description">{{project.description}}</div>
			<form class="vote-form" name="voteForm" ng-submit="submit()">
				Your vote: <input type="text" ng-model="vote" name="input"
					placeholder="Your vote" required /> <input type="submit"
					id="submit" value="Vote" />
			</form>
			<p>Number of votes already registered: {{project.nbVotes}}</p>
			<p>Average: {{project.average}}</p>
		</div>
	</div>
