<html ng-app>

<head>
<script src="scripts/angular.min.js"></script>
<script src="scripts/vote.js"></script>
<link rel=stylesheet type="text/css" href="style.css">
</head>

<body>
	<div class="topbar">Voting for your project</div>
	<div class="container">
		<div ng-controller="Ctrl">
			<div class="vote-container">
				<span class="vote-title">Vote for your project</span>
				<form class="vote-form" name="voteForm" ng-submit="submit()">
					<p>Vote for your project, give a value between 1 and 5</p>
					Your vote: <input type="text" ng-model="vote" name="input"
						placeholder="Vote here" required /> <input type="submit"
						id="submit" value="Vote" />
				</form>
			</div>

			<div class="vote-container vote-list">
				<span class="vote-title">Votes already submitted</span>
				<p>Votes that were already submitted for this project:</p>
				<li ng-repeat="vote in votes">{{vote}}</li>
			</div>
		</div>
	</div>
</body>

</html>