textarea {
	font-family: inherit;
	font-size: inherit;
}

input {
	font-family: inherit;
	font-size: inherit;
}

.topbar {
	width: 100%;
	background-color: #563D7C;
	color: white;
	font-family: arial;
	text-align: center;
	font-size: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.container {
	width: 70%;
	margin-left: 15%;
	margin-top: 50px;
	color: #5A5A5A;
	font-family: arial;
}

.vote-form-title {
	width: 170px;
	display: inline-block;
}

.vote-comment-title {
	margin-right: -5px;
}

.vote-container {
	border: 1px solid #E5E5E5;
	padding: 10px;
}

.vote-title {
	color: #563D7C;
	font-size: 45px;
}

.vote-form-container {
	float:left;
	margin-right: 75px;
}

.vote-form {
	margin-top: 15px;
}

.vote-form-element {
	margin-bottom: 10px;
}

.vote-desc-container * {
	vertical-align: top;
}

.vote-input {
	width: 250px;
}

.vote-list {
	margin-top: 50px;
}

.description {
	font-style: italic;
}

.info {
	margin-top: 5px;
	font-style: italic;
	font-size: 12px;
	font-style: italic;
}

.qrcode {
	
}

.vote-form-clear {
	clear:both;
}
