<html ng-app>

<head>
<script src="scripts/angular.min.js"></script>
<script src="scripts/vote.js"></script>
</head>

<body>
	<div ng-controller="Ctrl">
		<form name="voteForm" ng-submit="submit()">
			Vote here (0-5): <input type="text" ng-model="vote" name="input"
				placeholder="Vote here" required /> <input type="submit"
				id="submit" value="Vote" />
		</form>

		<div>
			Liste des votes déjà enregistrés : <br />
			<li ng-repeat="vote in votes">{{vote}}</li>
		</div>
	</div>
</body>

</html>